* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header-icon-title {
  color: #141414;
  font-size: 28px;
  font-weight: 700;
  line-height: 125%;
  margin: 0 10px;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon {
  display: flex;
  align-items: center;
}
.header-phone {
  display: flex;
  align-items: center;
}
.header-icon img {
  width: 33px;
  height: 33px;
}
.header-phone img {
  width: 20px;
  height: 20px;
}
.header-block {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-phone {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.header-group {
  display: flex;
  align-items: center;
}
.header-nav a {
  padding: 0 10px;
  color: #555;
  font-weight: 400;
  line-height: 125%;
  font-family: "Manrope", sans-serif;
}
.header-group img {
  padding: 0 10px;
}
.header-btn {
  padding: 16px 23px;
  background: #7a9ca5;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-family: "Manrope", sans-serif;
}
.header-text {
  color: #141414;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.18px;
  font-family: "Manrope", sans-serif;
  margin: 0 10px;
}
.header-nav select {
  background: none;
  border: 0;
  outline: none;
  color: #555;
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
  font-family: "Manrope", sans-serif;
}
@media screen and (max-width: 1155px) {
  .header-nav {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .header-group {
    display: none;
  }
}
@media screen and (max-width: 490px) {
  .header-logo {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
.hero-block {
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-icon {
  display: flex;
  align-items: center;
}
.hero-icon-text {
  color: #5c8692;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 0 10px;
}
.hero {
  background: #d1edf482;
}
.hero__info-title {
  color: #141414;
  font-size: 70px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.7px;
  max-width: 510px;
}
.hero__info-text {
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 170%;
  max-width: 508px;
  height: 62px;
  margin: 10px 0;
}

.hero__info-btn {
  padding: 23px 36px 24px 36px;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: 1.68px;
  background: #5c8692;
  text-transform: uppercase;
}
@media screen and (max-width: 1070px) {
  .hero-block {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .hero-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero__info-btn {
    margin: 30px;
  }
}
@media screen and (max-width: 570px) {
  .hero-block {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .hero-block img {
    width: 100%;
  }
  .hero__info-title {
    width: 420px;
  }
  .hero__info-text {
    width: 408px;
    height: 62px;
  }
}
.hero__footer-group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.hero__footer-title {
  margin: 20px 0 0;
}
.hero__footer-text {
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 165%;
  letter-spacing: 0.36px;
  max-width: 327px;
  margin: 10px 0;
}
.hero__foter-btn {
  margin: 20px 0;
  padding: 18px 43px 19px 43px;
  border: 2px solid #5c8692;
  background: none;
  color: #141414;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}
.hero__footer {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 1070px) {
  .hero__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 720px) {
  .hero__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.about__us {
  background: #d1edf482;
  /* height: 750px; */
}

.about__us-title {
  color: #5c8692;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.about__us-title2 {
  color: #141414;
  font-size: 45px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
  width: 435px;
}
.about__us-text {
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 165%;
  width: 529px;
  margin: 15px 0;
}
.about-us-group-text {
  color: #141414;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  margin: 10px 0;
}

.about-us-group {
  width: 161px;
  border: 1px solid #1e2c30;
  background: #fff;
}
.about-us-group img {
  width: 48.468px;
  height: 72px;
}
.about-us-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 1140px) {
  .about-us {
    background: #d1edf482;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .about-us-block {
    margin: 30px 0;
  }
  .about-us img {
    width: 50%;
  }
}
@media screen and (max-width: 530px) {
  .about-us {
    background: #d1edf482;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .about-us-block {
    display: flex;
    align-items: center;
  }
  .about-us-group {
    width: 121px;
    border: 1px solid #1e2c30;
    background: #fff;
  }
  .about__us-text {
    width: 440px;
  }
}
.our-services {
  margin: 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-title {
  color: #141414;
  font-size: 22px;
  font-weight: 700;
  line-height: 130%;
}
.services-title span {
  color: #141414;
  font-size: 22px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.1px;
}
.services-text {
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 165%;
  letter-spacing: 0.36px;
}
.services-info {
  margin: 20px;
}
.services-header {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}
.services-header-text {
  color: #5c8692;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.services-header-title {
  color: #141414;
  font-size: 45px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
}
.services-btn {
  margin: 30px 0;
  padding: 23px 34px 24px 34px;
  border: 2px solid #5c8692;
  color: #141414;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  background: none;
}
@media screen and (max-width: 1200px) {
  .our-services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .our-services2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .our-services2 img {
    width: 50%;
  }
  .our-services img {
    width: 50%;
  }
  .services-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.our-services2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
