* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header-icon-title {
  color: #141414;
  font-size: 28px;
  font-weight: 700;
  line-height: 125%;
  margin: 0 10px;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon {
  display: flex;
  align-items: center;
}
.header-phone {
  display: flex;
  align-items: center;
}
.header-icon img {
  width: 33px;
  height: 33px;
}
.header-phone img {
  width: 20px;
  height: 20px;
}
.header-block {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-phone {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.header-group {
  display: flex;
  align-items: center;
}
.header-nav a {
  padding: 0 10px;
  color: #555;
  font-weight: 400;
  line-height: 125%;
  font-family: "Manrope", sans-serif;
}
.header-group img {
  padding: 0 10px;
}
.header-btn {
  padding: 16px 23px;
  background: #7a9ca5;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-family: "Manrope", sans-serif;
}
.header-text {
  color: #141414;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.18px;
  font-family: "Manrope", sans-serif;
  margin: 0 10px;
}
.header-nav select {
  background: none;
  border: 0;
  outline: none;
  color: #555;
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
  font-family: "Manrope", sans-serif;
}
@media screen and (max-width: 1155px) {
  .header-nav {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .header-group {
    display: none;
  }
}
@media screen and (max-width: 490px) {
  .header-logo {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
.hero-block {
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-icon {
  display: flex;
  align-items: center;
}
.hero-icon-text {
  color: #5c8692;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 0 10px;
}
.hero {
  background: #d1edf482;
}
.hero__info-title {
  color: #141414;
  font-size: 70px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.7px;
  max-width: 510px;
}
.hero__info-text {
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 170%;
  max-width: 508px;
  height: 62px;
  margin: 10px 0;
}

.hero__info-btn {
  padding: 23px 36px 24px 36px;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: 1.68px;
  background: #5c8692;
  text-transform: uppercase;
}
@media screen and (max-width: 1070px) {
  .hero-block {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .hero-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero__info-btn {
    margin: 30px;
  }
}
@media screen and (max-width: 570px) {
  .hero-block {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .hero-block img {
    width: 100%;
  }
  .hero__info-title {
    width: 420px;
  }
  .hero__info-text {
    width: 408px;
    height: 62px;
  }
}
.hero__footer-group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.hero__footer-title {
  margin: 20px 0 0;
}
.hero__footer-text {
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 165%;
  letter-spacing: 0.36px;
  max-width: 327px;
  margin: 10px 0;
}
.hero__foter-btn {
  margin: 20px 0;
  padding: 18px 43px 19px 43px;
  border: 2px solid #5c8692;
  background: none;
  color: #141414;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}
.hero__footer {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 1070px) {
  .hero__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 720px) {
  .hero__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.about__us {
  background: #d1edf482;
}

.about__us-title {
  color: #5c8692;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.about__us-title2 {
  color: #141414;
  font-size: 45px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
}
.about__us-text {
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 165%;
  margin: 15px 0;
}
.about-us-group-text {
  color: #141414;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  margin: 10px 0;
}

.about-us-group {
  /* width: 161px; */
  border: 1px solid #1e2c30;
  background: #fff;
}
.about-us-group img {
  width: 48.468px;
  height: 72px;
}
.about-us-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 1140px) {
  .about-us {
    background: #d1edf482;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .about-us-block {
    margin: 30px 0;
  }
  .about-us img {
    width: 50%;
  }
}
@media screen and (max-width: 530px) {
  .about-us {
    background: #d1edf482;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .about-us-block {
    display: flex;
    align-items: center;
  }
  .about-us-group {
    border: 1px solid #1e2c30;
    background: #fff;
  }
}
.our-services {
  margin: 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-title {
  color: #141414;
  font-size: 22px;
  font-weight: 700;
  line-height: 130%;
}
.services-title span {
  color: #141414;
  font-size: 22px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.1px;
}
.services-text {
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 165%;
  letter-spacing: 0.36px;
}
.services-info {
  margin: 20px;
}
.services-header {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}
.services-header-text {
  color: #5c8692;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.services-header-title {
  color: #141414;
  font-size: 45px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
}
.services-btn {
  margin: 30px 0;
  padding: 23px 34px 24px 34px;
  border: 2px solid #5c8692;
  color: #141414;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  background: none;
}
@media screen and (max-width: 1200px) {
  .our-services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .our-services2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .our-services2 img {
    width: 50%;
  }
  .our-services img {
    width: 50%;
  }
  .services-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.our-services2 {
  margin: 0 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers {
  background: #d1edf482;
  height: 750px;
}
.customers-block {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.customers__footer {
  background: #1e2c30;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer__img {
  display: flex;
  align-items: center;
}

.customers__footer-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -0.2px;
}
.customers__footer-title span {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0.42px;
}
.customers__footer img {
  margin: 10px 20px;
}
.customers-text {
  color: #141414;
  font-family: "Manrope", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 180%;
  padding: 20px;
}
.customer-group {
  max-width: 582px;
  background: white;
}
.customer-group2 {
  max-width: 582px;
  background: white;
}
.customers-header {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.customers-header-text {
  color: #5c8692;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.customers-header-title {
  color: #141414;
  font-size: 45px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
  margin: 0 0 30px;
}
@media screen and (max-width: 825px) {
  .customers-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .customers {
    background: #d1edf482;
    height: 100%;
  }
  .customers-header {
    display: flex;
    text-align: center;
  }
}
.benefits__group-text {
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 165%;
  letter-spacing: 0.36px;
  width: 330px;
}
.benefits__group-title {
  color: #141414;
  font-size: 26px;
  font-weight: 700;
  line-height: 120%;
  margin: 20px 0 11px;
}
.benefits-content {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.benefits-content2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.benefits__header-text {
  color: #5c8692;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 50px 0 10px;
}
.benefits__header-title {
  color: #141414;
  font-size: 45px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
  margin: 0 0 20px;
}
.benefits__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1110px) {
  .benefits-content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .benefits-content2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}
@media screen and (max-width: 579px) {
  .benefits__header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.discount__block-info {
  display: flex;
}
.discount__group-title2 {
  color: #5c8692;
  font-size: 15px;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  padding: 30px 0;
}
.discount__group-title {
  color: #141414;
  font-size: 45px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
}
.discount__group-text {
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  /* line-height: 175%; */
  margin: 20px 0;
}
.discount__block-title {
  color: #141414;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 800;
  /* line-height: 150%; */
  letter-spacing: 1.12px;
  text-transform: uppercase;
  margin: 5px 10px;
}
.discount__block-title span {
  color: #141414;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  /* line-height: 150%; */
}
.discount__block2 {
  border: 1px solid #95bfcb;
  background: #fff;
  padding: 18px 20px;
}
.discount__block {
  display: flex;
}
.discount {
  background: #d1edf482;
  margin: 40px 0;
}
.discount-footer {
  background: #1e2c30;
  padding: 12px 24px;
}
.discount-footer-title {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 800;
  /* line-height: 175%; */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.discount-footer-title {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.36px;
}
.APPOINTMENT {
  margin: 70px 0;
  padding: 25px 35px;
  background: #fff;
  box-shadow: 0px 20px 40px 0px rgba(42, 68, 75, 0.13);
}
.discount-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.appointment-group {
  display: flex;
  align-items: center;
  height: 55px;
  border: 1px solid #5c8692;
  background: #fff;
  margin: 20px 0;
}
.appointment-group img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}
.appointment-btn {
  padding: 23px 109px;
  background: #5c8692;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  margin: 20px 0;
}
.appointment-group-text {
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.appointment-group2 {
  display: flex;
  align-items: flex-start;
  height: 130px;
  border: 1px solid #5c8692;
  background: #fff;
}
.appointment-group2 img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}
@media screen and (max-width: 1010px) {
  .discount-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .discount__group {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .discount__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .appointment-btn {
    padding: 23px 49px;
  }
}
